
.ad-container{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content{
    max-width: 569px;
          }
.content h3{
    margin-top: 53px;
    font-family: Cormorant;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #FF8126;
}
.content h3 span{
     font-family: Cormorant;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #1F1F1F;
}
.content p{
    margin-top: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1F1F1F;
}
.content .button{
    display: inline-block;
    margin-top: 30px;
    padding: 8px 31px 10px 31px;
}
@media only screen and (max-width: 1199px) {
    .main_container{
        max-width: 962px;
    }
    .ad-container{
        justify-content: center;
        margin: auto;
    }
    .surprise img{
        max-width: 962px;
    }
}
@media only screen and (max-width: 1024px) {
    .main_container{
        max-width: 930px;
    }
    .surprise img{
        max-width: 930px;
    }
   }
@media only screen and (max-width: 991px) {
    .main_container{
        max-width: 690px;
    }
        .surprise img{
        max-width: 690px;
            }
}
@media only screen and (max-width: 767px) {
    .main_container{
        max-width: 510px;
    }
       .content .button{
        margin-top: 28px;
    }
    .surprise img{
        max-width: 510px;
    }
}
@media only screen and (max-width: 530px) {
    .main_container{
        max-width: 360px;
    }
      .content h3{
        margin-top: 25px;
        font-size: 35px;
        line-height: 42px;
    }
    .content h3 span{
        font-size: 35px;
        line-height: 42px;
    }
    .content .button{
        margin-top: 25px;
    }
    .surprise img{
        max-width: 360px;
    }
}
@media only screen and (max-width: 375px) {
    .main_container{
        max-width: 315px;
    }
    .surprise img{
        max-width: 315px;
    }
}
@media only screen and (max-width: 360px) {
    .main_container{
        max-width: 290px;
    }
      .content h3{
        margin-top: 25px;
        font-size: 30px;
        line-height: 36px;
    }
    .content h3 span{
        font-size: 30px;
        line-height: 36px;
    }
    .content .button{
        margin-top: 20px;
    }
    .surprise img{
        max-width: 290px;
    }
}




