.main_container{
    margin: auto;
    max-width: 1170px;
}
.db_section{
    padding-top: 80px;
    padding-bottom: 80px;
}
.db_flex_container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.db_flex_container div:first-of-type{
    width: 48%;
}
.db_flex_container div:last-of-type{
    width: 50%;
}
.db_content h3{
    font: 40px/48px 'Cormorant';
    font-style: normal;
    font-weight: 700;
    color: #1F1F1F;
    margin: 0;
}
.db_content h3 span{
    color: #FF8126;
}
.db_content p{
    font: 16px/24px 'Poppins';
    font-style: normal;
    font-weight: 500;
    margin-bottom: 40px;
}
.db_content ul{
    list-style: none;
    padding: 0;
}
.db_content ul li{
    margin-bottom: 20px;
    font: 16px/24px 'Poppins';
    color: #1F1F1F;
    font-style: normal;
    font-weight: 400;
    position: relative;
    padding-left: 39px;
}
.db_content ul li:before{
    content: url("../images/Vector5.svg");
    display: inline-block;
    background-color: #FF8126;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.db_flex_container img{
    display: block;
    width: 100%;
}
.db_content .button{
    margin-top: 10px;
    /*transition: 0.6s;*/
}
/*.button:hover{
    background-color: #1F1F1F;
}

.db_content .button:hover{
    background-color: #0f8bbb;
}
/*.db_content .button:focus{
    color: #1F1F1F;
}

 */

@media only screen and (max-width: 1199px) {
    .db_flex_container {
        margin: auto;
    }

    .db_flex_container div:first-of-type {
        width: 100%;
        padding-bottom: 30px;
    }

    .db_flex_container div:last-of-type {
        width: 100%;
    }
}
/*@media only screen and (max-width: 991px) {
    .main_container{
        max-width: 690px;
    }

}
@media only screen and (max-width: 767px) {
    .main_container{
        max-width: 510px;
    }

}

 */
@media only screen and (max-width: 530px) {
    .db_section{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .db_flex_container div:first-of-type {
        padding-bottom: 25px;
    }
    .db_content h3{
        font-size: 35px;
        line-height: 42px;
    }
    .db_content p{
        font-size: 15px;
        line-height: 23px;
        margin-bottom: 30px;
    }
    .db_content ul li {
        margin-bottom: 18px;
        font-size: 15px;
        line-height: 22px;
        padding-left: 35px;
    }
    .db_content ul li:before {
        width: 22px;
        height: 22px;
    }
    .db_content .button{
        font-size: 16px;
    }
}


@media only screen and (max-width: 375px) {
    .db_content p{
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 25px;
    }
    .db_content ul li{
        margin-bottom: 16px;
        font-size: 14px;
    }
}
/*@media only screen and (max-width: 360px) {
     .main_container{
        max-width: 290px;
     }

}