.main{
    background-image: url(../images/brooke-lark-08bOYnH_r_E-unsplash_1.jpg);
    background-size: cover;
    padding-bottom: 195px;
}
.main h1{
    font-size: 50px;
    line-height: 61px;
    color: #1F1F1F;
    padding-top: 125px;
    margin-bottom: 5px;
    font-family: 'Cormorant';
    font-weight: 700;
}
.main p{
    font-size: 26px;
    line-height: 39px;
    color: #1F1F1F;
    margin-bottom: 48px;
    font-family: 'Poppins';
    font-weight: 300;
}
.button{
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background: #FF8126;
    border-radius: 5px;
    padding: 8px 36px 10px 36px;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 500;
    display: inline-block;
    transition: 0.6s
}
.button:hover{
    background-color: #1F1F1F;
}
.tell_friend{
    margin-top: 80px;
    background: url(../images/MaskGroup.jpg) rgba(255, 129, 38, 0.08);
    background-blend-mode: multiply;
    background-size: cover;
}
.tell_friend h1{
    padding-top: 60px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 48px;
    color: #1F1F1F;
    font-family: 'Cormorant';
    font-weight: 700;
}
.icon_tell_friend{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
.social_media{
    margin-right: 30px;
}

