.block_vegetables{
    background-image: url(../images/background_vegetables.jpg);
    background-size: cover;
    padding-bottom: 80px;
    width: 100%;
    margin-bottom: 80px;
    text-align: center;
}
h2{
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 60px;
    margin-bottom: 30px;
    font-family: 'Cormorant';
}
.leiba{
    padding-bottom: 30px;
}
