
.od_promo_banner{
    background: #C2E8CE;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #1F1F1F;
    padding: 15px 0;
}
.od_promo_banner .main_container{
    position: relative;
}
/*.od_promo_banner span*/
.close{
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    cursor: pointer;
}
/*.od_promo_banner span:after, .od_promo_banner span:before*/
.close:after, .close:before{
    content: "";
    background: #1F1F1F;
    top:50%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
}
/*.od_promo_banner span:after*/
.close:after{
    transform: rotate(45deg);
}
/*.od_promo_banner span:before*/
.close:before{
    transform: rotate(-45deg);
}
header .main_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    padding: 20px 0;
}
header nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo img{
    display: inline-block;
}
.od_nav_link{
    display: flex;
    padding-left: 60px;
    list-style: none;
    align-items: center;
}
.od_nav_link li{
    margin-right: 40px;
}
.od_nav_link li:last-of-type{
    margin-right: 0;
}
.od_nav_link li a{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #1F1F1F;
}
.od_nav_link li a:hover{
    color: #0f8bbb;
}
.od_nav_link li a:after{
    content: "\f078";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    margin-left: 7px;
    font-size: 10px;
}
.od_nav_link li:nth-child(4) :after{
    content: "";
}
.od_nav_link li:last-child :after {
    content: "";
}
.od_nav_icon a {
    display: inline-block;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 50%;
    color: #1F1F1F;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 15px;
    background: #FFFFFF;
}
.od_nav_icon {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
.od_nav_icon li a{
    text-decoration: none;
}
.od_nav_icon li{
    margin-left: 10px;
}
.od_nav_icon li:first-of-type{
    margin-left: 0;
}
.od_nav_icon .od_cart{
    position: relative;
}
.od_nav_icon .od_cart:after{
    content: "23";
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 16px;
    color: #FFFFFF;
    background: #FF8126;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
}
.burger{
    display: none;
}

@media only screen and (max-width: 1199px) {
    .main_container{
        max-width: 962px;
    }
    header{
        padding: 15px 0;
    }
    .od_nav_link{
        padding-left: 30px;
    }
    .od_nav_link li{
        margin-right: 20px;
    }
    .od_nav_icon a{
        width: 45px;
        height: 45px;
        padding: 12px;
    }
    .od_nav_icon img{
        max-width: 20px;
    }

}
@media only screen and (max-width: 991px) {
    .main_container{
        max-width: 690px;
    }
    header nav{
        display: none;
    }
    .burger{
        display: block;
        width: 30px;
        height: 18px;
        position: relative;
    }
    .burger span{
        position: absolute;
        background-color: #181818;
        width: 100%;
        height: 2px;
        left: 0;
        top: 8px;
    }
    .burger:before, .burger:after {
        content: "";
        background: #181818;
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
    }
    .burger:before {
        top: 0;
    }
    .burger:after {
        bottom: 0;
    }
    header{
        background: rgb(192,198,200,0.2);
    }

}
@media only screen and (max-width: 767px) {
    .main_container{
        max-width: 510px;
    }

}
@media only screen and (max-width: 530px) {
    .main_container{
        max-width: 360px;
    }
    .od_promo_banner{
        font-size: 12px;
        line-height: 20px;
    }
    header{
        padding: 10px 0;
    }

}
@media only screen and (max-width: 375px) {
    .main_container{
        max-width: 315px;
    }
    .close{
        left: 50%;
        bottom: 100%;
        width: 13px;
        height: 13px;
    }
    .od_promo_banner{
        padding-bottom: 10px;
    }


}
@media only screen and (max-width: 360px) {
    .main_container{
        max-width: 290px;
    }
    .od_promo_banner{
        font-size: 11px;
        line-height: 18px;
    }

}
