.promo_banner{
    background: #C2E8CE;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #1F1F1F;
}
.promo_banner span:after{
    width: 16px;
    height: 16px;
    position: relative;
}
.promo_banner span:after, .promo_banner span:before{
    content: "";
    background: #181818;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
}
.promo_banner span:after{
    top: 0;
}
.promo_banner span:after
header .main_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    padding-top: 20px;
}
header nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo img{
    display: inline-block;
}
.nav_link{
    display: flex;
    padding-left: 60px;
    list-style: none;
    align-items: center;
}
.nav_link li{
    margin-right: 40px;
}
.nav_link li:last-of-type{
    margin-right: 0;
}
.nav_link li a{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #1F1F1F;
}
.nav_link li a:hover{
    color: #0f8bbb;
}
.nav_link li a:after{
    content: "\f078";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    margin-left: 7px;
    font-size: 10px;

}
.nav_link li:nth-child(4) :after{
    content: "";
}
.nav_link li:last-child :after {
    content: "";
}
.nav_icon a {
    display: inline-block;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 50%;
    color: #1F1F1F;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 15px;
    background: #FFFFFF;
}
.nav_icon {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
.nav_icon li a{
    text-decoration: none;
}
.nav_icon li{
    margin-left: 10px;
}
.nav_icon li:first-of-type{
    margin-left: 0;
}
.nav_icon .cart{
    position: relative;
}
.nav_icon .cart:after{
    content: "23";
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    color: #FFFFFF;
    background: #FF8126;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 0;
}
